#File .htaccess : /Blog/

<files .htaccess>
order allow,deny
deny from all
</files>



Options +FollowSymlinks
RewriteEngine On

#RewriteRule ^index.php$ Public/index.php
RewriteBase /Blog/

RewriteCond %{THE_REQUEST} /Public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!Public/).*)$ Public/$2 [L,NC]



