body{
    margin-top: -48px;
    padding-top: 90px;
}
nav{
    background-color: #24292e;
    color : white;
}
nav a{
    color : inherit;
    font-size: 1.4rem;
}
nav ul{
    list-style-type:none;
    text-align:center;
}
nav li{
    background-color: #24292e;
    float:left;
}
nav li a {
    display:block;
    text-decoration:none;
}
nav li ul{
    padding: 0;
    display: none;
    position: absolute;
}
nav ul li:hover ul{
    display:block;
}
nav li:hover ul li{
    float:none;
}
h1{
    text-align: center;
    width: 75%;
    padding-bottom: 1.5rem;
    margin: 3rem auto;
    border-bottom: 2px solid #24292e;
}
h1 a{
    color: #24292e;
}
h1 a:hover{
    text-decoration: none;
}
article, .article-list{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
article p{
    text-align: justify;
}
article form div{
    margin-top: 1rem;
}
article #content{
    height: 20em;
}
.absolute-bloc{
    position: absolute;
    transform: translate(0, -100%);
    width: 100%;
}
.article-list a{
    color: black;
}
.article-list div a{
    color: #007bff;
}
.article-list a:hover{
    text-decoration: none;
}
.article-page{
    width:100%;
}
.article-page aside{
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
}
.article-page ul{
    list-style-type: none;
    padding-left: 0;
}
.article-page ul a{
    color: black;
}
.article-page ul a:hover{
    text-decoration: none;
}
.article-page li{
    margin-top: 5%;
    padding-left: 5%;
    border-style: solid;
    border-radius: .5%;
}

.article{
    height:16em;
    margin: 1%;
    border-style: solid;
    border-radius: .5%;
}
.article h3{
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}
.article p{
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}
.article em{
    margin-left: auto;
    margin-right:auto;
    font-size: 1.4rem;
}
.article-button{
    float: right;
    margin-right: 2%;
    text-align: right;
    margin-bottom: 2%;
}
.category-button{
    height: inherit;
    width: 6em;
    border: none;
    background-color: rgba(225, 225, 225, 0.4);
}
.comment{
    margin-left: 20%;
    width: 60%;
}
.cover{
    height:500px;
    overflow:hidden;
}
.cover img {
    margin-top: -50%;
}
.d-grid{
    display: grid;
}
.error{
    background-color: lightcoral;
}
.success{
    background-color: lightgreen;
}
.homeList{
    list-style: none;
    padding-left: 0;
}
.homeList li{
    display: flex;
    overflow: hidden;
    position: relative;
    height: 10em;
    border-top: 1px solid #24292e;
}
.homeList li div {
    height: inherit;
}
.homeList .trapezoid .category-button{
    transition: visibility 0s;
}
li .text {
    width: 100%;
    color: #24292e;
    transition: all 0.6s ease-in-out;
}
li:hover .text{
    font-size: 1rem;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translate(50%, -50%);
}
.links{
    color: black;
}
.linksMenu{
    margin-left: 20%;
}
.post-comment{
    display: inline-grid;
    margin: 3% 10%;
    width: 80%;
}
.post-comment textarea{
    margin-bottom: 3%;
    height: 10em;
}
.trapezoid{
    position:relative;
    display: inline-flex;
    border-top: 10rem solid rgba(255,255,255, 0.4);
    border-right: 6rem solid transparent;
    height: inherit;
    width: 80%;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

}
li:hover .trapezoid{
    border-top: 10rem solid rgba(255,255,255, 0.8);
    border-right: 6rem solid transparent;
    width: 30%;
}

.triangle-left{
    width: 2rem;
    height:inherit;
    border-left: 2rem solid rgba(225, 225, 225, 0.4);
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    transition: visibility 0s;
}
.triangle-right{
    position: absolute;
    height: 100%;
    right: 10%;
    top: 0;
    width: 3%;
    border-right: 2rem solid rgba(225, 225, 225, 0.4);
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
}
.last-article{
    position: static;
    width: 20%;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: visibility 2s, width 0.6s;
    transition-timing-function: ease-in-out;
    transition: visibility 2s, width 0.6s;
}
.last-article .category-button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 10%;
}
.last-article div{
    visibility: hidden;
    margin-right: 9em;
}
.opacity-delay{
    opacity: 0;
    transition : opacity 1s ease-in-out 0.6s;
}
.last-article, .last-article h3, .last-article p{
    color: #24292e;
    text-decoration: none;
}
.last-article:hover{
    color: #24292e;
    text-decoration: none;
}
li:hover .last-article{
    width: 70%;
}
li:hover .last-article div{
    visibility: visible;
}
li:hover .opacity-delay{
 opacity: 1;
}
li:hover .trapezoid .category-button, li:hover .trapezoid .triangle-left{
    visibility: hidden;
}
li:hover .last-article .category-button{
    background-color: rgba(225, 225, 225, 0.8);
}
li:hover .last-article .triangle-right{
    border-right: 2rem solid rgba(225, 225, 225, 0.8);
}
.last-article h3{
    font-size: 1.5rem;
}

.last-article p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-decoration: none;
}